<title>StudyFellas - Aggiungi esame</title>

<br>
<h1 class="header_pagina">Aggiungi esame</h1>

<br>
<div class="container" id="login_forms" style="height:88vh">
    <%= form_with url: "new_exam", method: :post do |form| %>
        <%= form.label :subject, "Esame" %>
        <br>
        <%= form.text_field :subject, :required => true%>
        <br><br>
        <%= form.label :teacher, "Docente" %>
        <br>
        <%= form.text_field :teacher, :required => true%>
        <br>
        <br>
        <%= form.submit "Aggiungi", :class => "btn btn-primary", :id => "button"%>
    <%end%>

    <%if !flash[:already_exists].nil?%>
        <p><span id="error_style">Errore: </span><%=flash[:already_exists]%></p>
    <%end%>
</div>

<!--FOOTPRINT BUTTONS SCHEMA TO GET THIS VIEW'S RESULT-->
<div class="container" id="footprint_buttons">
    <%=button_to "Homepage", root_path,:method => :get, :class => "btn btn-primary", :id => "button", :style => "width:fit-content;"%>
</div>
