<title>StudyFellas - Risultato ricerca</title>
<br>
<h1 class="header_pagina">Risultato ricerca</h1>

<br>
<div class="container-fluid" id ="exams_container">
    <div class ="row">

            <div class="col-auto">
                <%= form_with url: {action: "search"}, method: :post do |f| %>
                        <%= f.label :esame %><br />
                        <%= f.text_field :subject, :required => true%>
            </div>

            <div class="col-auto">
                    <%= f.label :docente %><br />
                    <%= f.text_field :teacher, :required => true%>
            </div>

            <div class="col-auto" style = "margin-top: auto;">
                    <%= f.submit "Cerca", :class => "btn btn-primary", :id => "button"%>
            </div>
                <% end %>
    </div>

    <br>
    <h2 class="header_pagina">Gruppi disponibili</h2>
    <div class="row">
    <%if @groups != nil%>
        <%@groups.each do |group| %>
            <%exam = Exam.find(group.exam_id)%>
            <div class="col-auto" style="margin-top:40px;">
                <div class="col" id="exam_col">
                <br>
                    <span id = "error_style">Esame:</span> <%=exam.subject%>
                    <br>
                    <span id = "error_style">Docente:</span> <%=exam.teacher%>
                    <div class="container">
                        <span id = "error_style">Lista partecipanti:</span>
                        <%group.belongings.each do |belonging|%>
                            <%= link_to belonging.user.profile.name + " " +belonging.user.profile.surname, profile_path(belonging.user)%>
                        <%end%>
                    </div>
                    <br>
                    <% if group.belongings.find{|b| b.user_id == current_user.id} != nil%>
                        <%=button_to "Entra", group_path(group), :method => :get, :class => "btn btn-primary", :id => "button", :style => "width:200px"%>
                    <%else%>
                        <% if group.requests.find{|r| r.user_id == current_user.id} != nil%>
                            <p>Hai già fatto richiesta per entrare in questo gruppo</p>
                        <%else%>
                            <%=button_to "Fai Richiesta", new_request_path, :method => :get, params: {:group_id => group.id, :user_id => current_user.id}, :class => "btn btn-primary", :id => "button", :style => "width:fit-content;"%>
                        <%end%>
                    <%end%>
                    <br>
                </div>
            </div>
        <%end%>
    <%end%>

    </div>
</div>
<br>

<div class="container" id="footprint_buttons">
    <%=button_to "Crea Gruppo", new_group_path, :method => :get, :class => "btn btn-primary", :id => "button", :style => "width:fit-content;"%>
</div>
